.table-responsive{
	margin-top:10%; 
}
.table-tic-tac{
	width: 450px;
	height: 300px;
	margin: auto;
	padding: 0;
}
.table>tbody>tr>td{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    color: gray;
    vertical-align: middle;
    line-height: normal;
    width: 60px;
    height: 60px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-top: none;
}
.table .row3 td{
	border-bottom: none;
}
.table .row1 td:last-child , .row2 td:last-child,.row3 td:last-child{
	border-right: none;
}

